* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.main {
    background-color: black;
    float: left;
    width: 100%;
}

.parent {
    /* padding: 32px;
     background-color:#487181; */
    width: 100%;
    margin: auto;
    max-width: 800px;
    height: 938px
}

.outer {
    padding: 32px;
    background-color: #487181;
    float: left;
    width: 100%;
}

.formbody {
    background-color: #FFFFFF;
    padding: 27px;
    width: 100%;
    line-height: 25px;
    float: left;
}

.header {
    border-bottom: 1px solid black;
    background-color: #EEF0F2;
    font-weight: bold;
    text-align: center;
    padding: 20px;
    color: #3C6070;
    border-radius: 13px 13px 0px 0px;
}

.header:hover {
    background-color: orange;
    color: red;
}

.form-control {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
}

.form-in {
    color: #1CBB95;
    font-weight: bold;
    width: 100%;
    padding: 0px 28px;
    float: left;
    margin-bottom: 20px;
}

.form-container1 {
    font-weight: bold;
    color: #1CBB95;
    width: 48%;
    float: left;
}

.form-container2 {
    color: #1CBB95;
    width: 48%;
    float: right;
}

.form-container3 {
    color: #1CBB95;
    width: 100%;
    float: left;
}

.form-control.mail {
    color: #1CBB95;
}

.gender {
    color: black;
}

.income {
    width: 80%;
}

.area {
    width: 100%;
    height: 80px;
}

.footer {
    border-top: 1px solid black;
    padding: 22px 36px;
    background-color: #EEF0F2;
    border-radius: 0px 0px 13px 13px;
    float: left;
    width: 100%;
}

.create {
    float: right;
    width: 12%;
    font-weight: bold;
    background-color: #1CBB95;
    border-radius: 20px;
    height: 30px;
    margin-right: 50px;
}

.create:hover {
    background-color: yellow;
}

.range {
    width: calc(80% - 55px);
}

input {
    font-size: 16px;
}

span {
    color: rgb(255, 121, 148);
    font-size: 14px;
}

